# Настройки PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=qwerty007
POSTGRES_DB=mentorflow_db
POSTGRES_URL=jdbc:postgresql://db:5432/mentorflow_db

GITHUB_TOKEN=github_pat_11BNQ...

REDIS_HOST=redis
REDIS_PORT=6379